textarea {
  resize: none;
  background-color: var(--blanc-fantome);
  border: 2px solid var(--gris-clair);
  border-radius: 12px;
  color: var(--gris-fonce);
}

.bouton-form {
  background-color: var(--blanc-fantome);
  border: 2px solid var(--gris-clair);
  border-radius: 15px;
  color: var(--gris-fonce);
}

.bouton-form:hover {
  background-color: var(--gris-fonce);
  border-color: var(--gris-fonce);
  color: var(--blanc-fantome);
}

.bouton-form:active {
  background-color: var(--orange-jaune);
  border-color: var(--orange-jaune);
  color: var(--gris-sombre);
}

@media screen and (max-width: 771px) {
  .section-form-commentaire {
    text-align: center;
  }

  form {
    width: 90%;
  }
}
