<article class="article card">
  <a [routerLink]="['/articles', article.id]">
    <img src="./assets/images/articles/{{ article.imageSrc }}" class="card-img-top" alt="{{ article.imageSrc }}">
  </a>

  <div class="card-body">
    <a [routerLink]="['/articles', article.id]">
      <h5 class="card-title">{{ article.titre}}</h5>
    </a>

    <ul class="card-text">
      <li>{{ article.utilisateurNom }}</li>

      <li>{{ article.dateCreation | date: 'dd MMMM yyyy' }}</li>
    </ul>

    <p class="card-text">{{ article.texte }}</p>
  </div>
</article>
