<article class="card">

  <a [routerLink]="['/articles', article.id]">
    <img alt="{{ article.imageSrc }}"
         class="card-img-top" src="./assets/images/articles/{{ article.imageSrc }}">
  </a>

  <div class="card-header">
    <a [routerLink]="['/articles', article.id]">
      <h3 class="card-title fs-5">{{ article.titre}}</h3>
    </a>

    <ul class="list-unstyled d-flex justify-content-between px-3">
      <li class="list-inline-item">{{ article.utilisateurNom }}</li>
      <li class="list-inline-item">{{ article.dateCreation | date: 'dd MMMM yyyy' }}</li>
    </ul>
  </div>

  <div class="card-body">
    <p class="card-text text-justify">{{ article.descriptionCourte }}</p>
  </div>

</article>
