.titre-section {
  color: var(--bleu-oxford);
}

@media screen and (max-width: 767px) {
  .titre-section {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 680px) {
  .titre-section {
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .titre-section {
    font-size: 1.2rem;
  }
}
