header img {
  width: 100%;
}

.creation {
  padding: 0 10px;
  color: var(--gris-fonce);
}

.texte {
  padding: 10px;
  background-color: var(--blanc-fantome);
  color: var(--gris-sombre);
}

@media screen and (max-width: 575px) {
  .titre-section {
    font-size: 1.2rem;
  }
}
