<article class="flex-column">

  <header>
    <h2 class="titre-page">{{ article.titre }}</h2>

    <p class="creation mb-1">
      Créé par {{ article.utilisateurNom }}, le <time>{{ article.dateCreation | date: 'dd MMMM yyyy à HH:mm' }}</time>
    </p>

    <img alt="{{ article.imageSrc }}" src="./assets/images/articles/{{ article.imageSrc }}">
  </header>

  <p class="texte text-justify mb-4">{{ article.texte }}</p>

  <h3 class="titre-section ms-2 mb-3">{{ titre }}</h3>

  <app-form-commentaire (succes)="recevoirCommentaire($event)" *ngIf="article.id" [articleId]="article.id" [commentaireRecu]="receptionCommentaire" [succesMessage]="succesMessage" class="d-flex flex-column justify-content-center align-items-center"></app-form-commentaire>

  <div class="detail-commentaires">
    <app-detail-commentaire (commentaireEnvoye)="commentaireATransmettre($event)" *ngFor="let commentaire of article.commentaires" [commentaire]="commentaire" class="col-12"></app-detail-commentaire>
  </div>

</article>
