/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Base de styles généraux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  font-family: Poppins, sans-serif;
  text-decoration: none;
  color: black;
}

.alert {
  border-radius: 8px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Bitter, serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins, serif;
  width: 100%;
}

.button {
  font-family: Bitter sans-serif !Important;
}

/* Variables de couleurs */
:root {
  --bleu-oxford: #03224C;
  --bleu-airsup: #6B9AAF;
  --bleu-poudre: #B0C4DE;
  --gris-sombre: #2D2F33;
  --gris-fonce: #6D707B;
  --gris-clair: #DCDCDC;
  --gris-platine: #E6E6EA;
  --blanc-fantome: #F4F4F8;
  --orange-jaune: #FAC86E;
}

/* Modifications des formulaires */
.header-form {
  background-color: var(--bleu-poudre) !important;
  color: var(--bleu-oxford) !important;
}

labels-form {
  color: var(--bleu-oxford);
}

.inputs-form {
  border: 1px solid var(--bleu-airsup);
}

.bouton-validation-form {
  background-color: var(-blanc-fantome-);
  border: 2px solid var(--bleu-airsup);
  border-radius: 15px;
  color: var(--gris-fonce);

  &:hover {
    background-color: var(--bleu-airsup);
    border-color: var(--bleu-airsup);
    color: var(--blanc-fantome);
  }

  &:active {
    background-color: var(--bleu-poudre);
    border-color: var(--bleu-oxford);
    color: var(--bleu-oxford);
  }
}

.bouton-effacement-form {
  background-color: var(--orange-jaune);
  border: 2px solid var(--orange-jaune);
  border-radius: 15px;
  color: var(--gris-fonce);

  &:hover {
    background-color: var(--blanc-fantome);
    border-color: var(--orange-jaune);
  }

  &:active {
    background-color: var(--orange-jaune);
    border-color: var(--orange-jaune);
    color: var(--gris-sombre);
  }
}

/* Suppression de la flèche des dropdown-toggle */
.dropdown-toggle::after {
    display:none;
}

/************************/
.text-justify {
  text-align: justify !important;
}

.titre-page {
  margin-bottom: 26px;
  padding-left: 80px;
  text-transform: uppercase;
  color: var(--bleu-oxford)

}

@media screen and (max-width: 767px) {
  .titre-page {
    margin-bottom: 18px;
    padding-left: 0;
    font-size: 1.6rem;
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .titre-page {
    margin-bottom: 10px;
    padding-left: 0;
    font-size: 1.3rem;
    text-align: center;
  }
}

@media screen and (max-width: 449px) {
  .titre-page {
    font-size: 1.1rem;
  }
}
