/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Base de styles généraux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: Poppins, serif;
  width: 100%;
}

::after, ::before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  font-family: Poppins, sans-serif;
  text-decoration: none;
  color: black;
}

.alert {
  border-radius: 8px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Bitter, serif;
}

/* Variables des couleurs */
:root {
  --bleu-oxford: #03224C;
  --bleu-airsup: #6B9AAF;
  --bleu-poudre: #B0C4DE;
  --gris-sombre: #2D2F33;
  --gris-foncé: #6D707B;
  --gris-clair: #DCDCDC;
  --gris-platine: #E6E6EA;
  --blanc-fantome: #F4F4F8;
  --orange-jaune: #FAC86E;
}
