.section-detail {
  background-color: var(--gris-fonce);
}

.header {
  padding-left: 16px;
}
.creation {
  color: var(--orange-jaune);
}

.body {
  color: var(--gris-clair);
}

.btn-et-bouton-icone, .bouton-icone {
  background-color: var(--gris-fonce);
}

.btn {
  color: var(--gris-fonce);
}

.btn:active {
  color: var(--gris-sombre);
}

.icone-svg {
  background-color:var(--gris-fonce);
  color: var(--blanc-fantome);
}
