header {
  max-width: 1200px;
  height: 200px;
  color: var(--orange-jaune);
}

.header-sans-navbar {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.titre {
  color: var(--bleu-oxford);
}

.liens-connecter-deconnecter {
  cursor: pointer;
  color: var(--gris-sombre)
}

.lien-inscrire {
  color: var(--gris-platine)
}
